.contact {
  border-top: 1pt solid #bcabdd;
  border-bottom: 1pt solid #bcabdd;
  box-shadow: 0pt 1pt 6pt #ffffff73;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}

.contact h2 {
  margin-left: 112px;
  opacity: 1;
  margin-top: 100px;
}

.contact-me {
  display: flex;
  align-items: center;
  margin-left: 112px;
}

.icon {
  margin-right: 5px;
  width: 50%;
}
.contact-form {
  width: 40%;
  margin-right: 112px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  background: transparent;
  width: 100%;
  padding: 10px;
  border: 1pt solid #bcabdd;
  border-radius: 15px;
}


::placeholder {
  color: white;
}
.form-group button {
  margin-top: 20px;
}
input:focus, 
textarea:focus, 
select:focus {
  border: 2px solid #33FFCC;
  /* Autres styles que vous souhaitez appliquer lorsque le champ est sélectionné */
}
