header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3d1a53;
  box-shadow: 0px 1px 2px #ffffff73;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  background-color: #0d001c;
  position: fixed;
  top: 0;
  z-index: 10;
}
header img {
  margin-left: 32px;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 32px;
  gap: 20px;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li:hover {
  transform: scale(1.1);

}
nav li {
  margin-right: 90px;
  transition: transform 0.3s ease;

}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Dans votre fichier CSS */
.active {
  text-shadow: 1px 1px 1px #33FFCC;
}
.logo {
  width: 4%;
}
